.threadBody{
    border-radius: 2px;
    border: #b7b7b7 1px solid;
    overflow: auto;
}
.threadRow:first-of-type > .threadBody{
    border-top: #b7b7b7 1px solid;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.threadRow:not(:first-of-type) > .threadBody{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}
.threadBodyInfo{
    width: 180px;
    min-height: 80px;
    padding: 16px;
	float: left;
}
.threadBodyText{
    padding: 10px;
	overflow: hidden;
}
.threadBodyControls{
    //float: right;
    margin-top: 20px;
    //margin: 10px;
}
.postedDate{
    padding-top: 20px;
    height: 20px;
    display: block;
}

.threadLabel{
    display: inline-block;
    margin-bottom: 6px;
    font-size: 12px;
}

#threadControls{
    margin: 8px;
}
